In [22]:
import os,pandas
from geopy.geocoders import Nominatim
nom=Nominatim()
os.listdir()

['supermarkets-semi-colons.txt',
 'geocoding.py',
 'supermarkets.json',
 'supermarkets.xlsx',
 'geocoding.ipynb',
 'loading_files.ipynb',
 '.ipynb_checkpoints',
 'supermarkets-commas.txt',
 'test_jupyter.ipynb',
 'geocoding_nochmal.ipynb',
 'pandas_test.py',
 'supermarkets.csv',
 'loading_files.py',
 'supermarket.csv']

In [23]:
df1=pandas.read_json("supermarkets.json")
df1

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [24]:
df1["Address"]=df1["Address"]+", "+df1["City"]+", "+df1["State"]
df1

,Address,City,Country,Employees,ID,Name,State
0,"3666 21st St, San Francisco, CA 94114",San Francisco,USA,8,1,Madeira,CA 94114
1,"735 Dolores St, San Francisco, CA 94119",San Francisco,USA,15,2,Bready Shop,CA 94119
2,"332 Hill St, San Francisco, California 94114",San Francisco,USA,25,3,Super River,California 94114
3,"3995 23rd St, San Francisco, CA 94114",San Francisco,USA,10,4,Ben's Shop,CA 94114
4,"1056 Sanchez St, San Francisco, California",San Francisco,USA,12,5,Sanchez,California
5,"551 Alvarado St, San Francisco, CA 94114",San Francisco,USA,20,6,Richvalley,CA 94114

In [30]:
df1.ix[df1.index[4],df1.columns[0]]

'1056 Sanchez St, San Francisco, California'

In [17]:
df1["Latitude"]=df1.shape[0]*""
df1["Longitude"]=df1.shape[0]*""
df1

,Address,City,Country,Employees,ID,Name,State,Latitude,Longitude
0,"3666 21st St, San Francisco, CA 94114",San Francisco,USA,8,1,Madeira,CA 94114,,
1,"735 Dolores St, San Francisco, CA 94119",San Francisco,USA,15,2,Bready Shop,CA 94119,,
2,"332 Hill St, San Francisco, California 94114",San Francisco,USA,25,3,Super River,California 94114,,
3,"3995 23rd St, San Francisco, CA 94114",San Francisco,USA,10,4,Ben's Shop,CA 94114,,
4,"1056 Sanchez St, San Francisco, California",San Francisco,USA,12,5,Sanchez,California,,
5,"551 Alvarado St, San Francisco, CA 94114",San Francisco,USA,20,6,Richvalley,CA 94114,,

In [37]:
for i in range(0,6):
    result=nom.geocode(df1.ix[df1.index[i],df1.columns[0]])
    if result!=None:
        df1.ix[df1.index[i],"Latitude"]=result.latitude
        df1.ix[df1.index[i],"Longitude"]=result.longitude
    else:
        None
        
df1

,Address,City,Country,Employees,ID,Name,State,Latitude,Longitude,Codinates
0,"3666 21st St, San Francisco, CA 94114",San Francisco,USA,8,1,Madeira,CA 94114,37.756489,-122.429343,"(3666, 21st Street, Noe Valley, SF, California..."
1,"735 Dolores St, San Francisco, CA 94119",San Francisco,USA,15,2,Bready Shop,CA 94119,NaN,NaN,None
2,"332 Hill St, San Francisco, California 94114",San Francisco,USA,25,3,Super River,California 94114,37.755725,-122.428601,"(332, Hill Street, Liberty Street Historic Dis..."
3,"3995 23rd St, San Francisco, CA 94114",San Francisco,USA,10,4,Ben's Shop,CA 94114,37.752965,-122.431714,"(3995, 23rd Street, Noe Valley, SF, California..."
4,"1056 Sanchez St, San Francisco, California",San Francisco,USA,12,5,Sanchez,California,37.752146,-122.429815,"(1056, Sanchez Street, Noe Valley, SF, Califor..."
5,"551 Alvarado St, San Francisco, CA 94114",San Francisco,USA,20,6,Richvalley,CA 94114,37.753673,-122.433220,"(551, Alvarado Street, Noe Valley, SF, Califor..."

In [36]:
df1["Codinates"]=df1["Address"].apply(nom.geocode)
df1["Latitude"]=df1["Codinates"].apply(lambda x :x.latitude if x!=None else None)
df1["Longitude"]=df1["Codinates"].apply(lambda x :x.longitude if x!=None else None)
df1

,Address,City,Country,Employees,ID,Name,State,Latitude,Longitude,Codinates
0,"3666 21st St, San Francisco, CA 94114",San Francisco,USA,8,1,Madeira,CA 94114,37.756489,-122.429343,"(3666, 21st Street, Noe Valley, SF, California..."
1,"735 Dolores St, San Francisco, CA 94119",San Francisco,USA,15,2,Bready Shop,CA 94119,NaN,NaN,None
2,"332 Hill St, San Francisco, California 94114",San Francisco,USA,25,3,Super River,California 94114,37.755725,-122.428601,"(332, Hill Street, Liberty Street Historic Dis..."
3,"3995 23rd St, San Francisco, CA 94114",San Francisco,USA,10,4,Ben's Shop,CA 94114,37.752965,-122.431714,"(3995, 23rd Street, Noe Valley, SF, California..."
4,"1056 Sanchez St, San Francisco, California",San Francisco,USA,12,5,Sanchez,California,37.752146,-122.429815,"(1056, Sanchez Street, Noe Valley, SF, Califor..."
5,"551 Alvarado St, San Francisco, CA 94114",San Francisco,USA,20,6,Richvalley,CA 94114,37.753673,-122.433220,"(551, Alvarado Street, Noe Valley, SF, Califor..."